<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginProcessServlet</display-name>
    <servlet-name>LoginProcessServlet</servlet-name>
    <servlet-class>controller.LoginProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcessServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>accountList</servlet-name>
    <jsp-file>/WEB-INF/view/account/accountList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountList</servlet-name>
    <url-pattern>/accountList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AccInfo</display-name>
    <servlet-name>AccInfo</servlet-name>
    <servlet-class>controller.AccInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccInfo</servlet-name>
    <url-pattern>/AccInfo.do</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>AccInfoDAO</display-name>
    <servlet-name>AccInfoDAO</servlet-name>
    <servlet-class>model.dao.AccInfoDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccInfoDAO</servlet-name>
    <url-pattern>/AccInfoDAO</url-pattern>
  </servlet-mapping>
  

  
  
   <servlet>
  	<servlet-name>info</servlet-name>
  	<jsp-file>/WEB-INF/view/info/info.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>info</servlet-name>
  	<url-pattern>/info</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>delete</servlet-name>
  	<jsp-file>/WEB-INF/view/info/delete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>delete</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  
</web-app>